<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Learn Faster with Flashcards</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://kit.fontawesome.com/9f1a58d476.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/cardstyle.css">
</head>

<body>
  {% set base = '.' %}
  {% include 'template-navbar.html' %}
  <div class="container py-3">
    <div class="row">
      <div class="col mx-3">
        <div class="row">
          <h3>Create a Deck</h3>
        </div>
        <div class="row">
          <form action="/deck/" method="POST">
            <div class="form-group row">
              <label for="deckname">Name of the Deck:</label>
              <input class="form-control" type="text" name="deckname" id="deckname" required>
            </div>
            <input type="hidden" name="cards" id="cardsindeck">
            <div class="form-group row pt-3 droppable pb-2">
              <div class="card bg-light border-dark">
                <div class="card-body">
                  <div class="card-title">Drop a card here to add it to the deck.</div>
                  <div class="card-text">
                    <div class="btn btn-info position-relative">
                      Cards Added
                      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="nCards">
                        0
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-primary">Save Deck</button>
          </form>
        </div>
        <div class="row pt-3">
          <h3>My Decks</h3>
        </div>
        <div class="row">
          <ul class="list-group">
            {% for deck in decks %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <a href="/deck/{{ deck.id }}">{{ deck.name }}</a>
              <span class="badge badge-danger badge-pill bg-success">{{ deck.get_cards()|length }} cards</span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col overflow-auto cardcol">
        <div class="row">
          <div class="col-sm-9"><h3>My Cards</h3><p class="text-muted">Double-click a card to flip it.</p></div>
          <div class="col-sm-3">
            <a class="btn btn-primary" href="/card/create"><i class="fas fa-plus"></i> Add A Card</a>
          </div>
        </div>
        <div class="row">
          <div class="row row-cols-1 row-cols-md-3 g-4 cardcol">
            {% for card in cards %}
              <div class="card usercard" id="usercard-{{ card.id }}">
                <div class="front">
                  <img src="/upload/{{ card.image }}" class="card-img-top">
                  <div class="card-body">
                    <p class="card-text text-center">{{ card.front }}</p>
                  </div>
                </div>
                <div class="back d-none">
                  <img class="card-img-top" src="/upload/{{ card.image }}" alt="An Image Goes Here">
                  <div class="card-body">
                    <p class="card-text card-text-back text-center">{{ card.back }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% include 'footer.html' %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" integrity="sha256-hlKLmzaRlE8SCJC1Kw8zoUbU8BxA+8kR3gseuKfMjxA=" crossorigin="anonymous"></script>
  <script>
    var currentCards = []
    $(".usercard").dblclick(function() {
      $(this).toggleClass("flip")
      $(this).find('.front').toggleClass('d-none')
      $(this).find('.back').toggleClass('d-none')
    })
    $('.usercard').draggable({
      revert: "invalid",
      helper: function(event) {
        let el = $(event.currentTarget)
        let icon = $($(event.currentTarget)).clone()
        $(icon).height(el.height())
        $(icon).width(el.width())
        return icon
      }
    })
  $('.droppable').droppable({
    drop: function(event, ui) {
      let newid = ui.draggable[0].id
      if ((currentCards.length == 0) || (!(currentCards.includes(newid)))) {
        currentCards.push(newid)
        $('#cardsindeck').val(JSON.stringify(currentCards))
        $('#nCards').text(currentCards.length)
      }
    }
  })
  </script>
</body>

</html>
